# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/

# =========================
# ML Models
# =========================

# Ignore large training models
*.h5
*.pt
*.pth
*.ckpt

# Keep your disease model
!backend/models/disease_model.pkl

# =========================
# React
# =========================
frontend/node_modules/
frontend/dist/
frontend/build/

# Vite
frontend/.vite/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Mongo Dumps
# =========================
dump/